html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
body{
  background: url("./background-dorothee.png") no-repeat fixed right;
  background-size: 20%;
  background-position-y: 60vh;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.navbar{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  background-color: #f2c9E0;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
.navbar .links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar p{
  padding: 0 10px;
}
.navbar p a{
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.navbar .logo img{
  width: 75px;
}

/*
ABOUT
 */
#about{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*
TOPICS
 */
#topics{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
TABLE
 */
table, td, th {
  text-align: center;
}
thead tr{
  background : #f2c9E0;
}
td, th {
  padding: 5px 15px;
}
td{
  border-bottom: 1px solid #282c34;
}
table {
  width: 100%;
  border-collapse: collapse;
}
#table{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#edit{
  color: #e0a253;
}
#delete{
  color: #BF3F61;
}

/* SignUp */

#signup, #login, #post {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2c9E0;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
  margin-top: 10vh;
}

#signup h1, #login h1, #post h1{
 margin: 0;
}
#signup form, #login form, #post form{
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#signup form .form, #login form .form, #post form .form{
  margin: 15px 0;
  width: 80%;
}

#signup form .form label, #login form .form label, #post form .form label{
  font-size: 20px;
}

#signup form .form input, #login form .form input, #post form .form input{
  margin-top: 5px;
  width: 100%;
  border-radius: 20px;
  border: 0px;
  height: 30px;
  padding: 0 10px;
}

#post form .form textarea{
  margin-top: 5px;
  width: 100%;
  border-radius: 20px;
  border: 0px;
  padding: 5px 10px;
}

button.submit{
  padding: 15px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  transition: 250ms ease-in;
  cursor: pointer;
}
button.submit:hover{
  background-color: white;
  color: black;
  transition: 250ms ease-in;
}

.msgError {
  color: #FF0000FF;
}
.msgSuccess {
  color: #228B22FF;
}