.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.navbar{
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #f2c9E0;
  justify-content: flex-start;
  align-items: center;
}
.navbar p{
  padding-left: 50px;
}
.navbar p a{
  color: black;
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
}

.navbar .logo a img{
  width: 75px;
}

/* SignUp */

#signup {
  display: flex;
  flex-direction: column;
  background-color: #f2c9E0;
  width: 30%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 200px;
}

#signup h1{
 margin: 0;
}
#signup form{
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#signup form .form{
  margin: 15px 0;
  width: 80%;
}

#signup form .form label{
  font-size: 20px;
}

#signup form .form input{
  margin-top: 5px;
  width: 100%;
  border-radius: 20px;
  border: 0px;
}

input.submit{
  padding: 15px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
}

